<table border="1">
   <tr>
    <th>Размеры</th>
    <th>Код</th>
    <th>Стоимость</th>
    <th>Кол-во</th>
    <th></th>
   </tr>
   <tr>
    <td>Ячейка 3</td>
    <td>Ячейка 4</td>
  </tr>
 </table>